.stereo-button {
  white-space: nowrap;
  display: inline-grid;
  grid-gap: 5px;
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;
}
.stereo-button:disabled {
  opacity: 0.3;
  pointer-events: none;
}


.ui-button {
  border: 1px solid #DDD;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #FFF;

  &:hover {
    background-color: #EEE;
  }

  &.with-icon {
    display: flex;
    justify-content: center;
    align-content: center;
    line-height: 20px;
  }
}
