/* .service-display {
  background-color: var(--sound-background-color);
  border-radius: 8px;
  padding: 5px 10px;
  color: #ddd;
  min-height: 100px;
  overflow: hidden;
}
.service-display-sound-and-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
.service-display-current-sound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  min-height: 50px;
  margin: 2px 1px;
  width: 100%;
  background: linear-gradient(
    var(--sound-background-color-10-darker),
    var(--sound-background-color-10-lighter)
  );
  box-shadow: inset 0px 0px 3px #555;
  border-radius: 5px;
  padding: 7px;
  text-align: center;
}
.service-display-current-sound-url {
  font-size: 12px;
  height: 36px;
  color: #aaa;
  overflow: hidden;
  max-width: 359px;
}
.service-display-current-sound-title {
  font-size: 15px;
}
.service-display-current-sound-position {
  margin-top: 5px;
  width: 100%;
}
.service-display-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}
.service-display-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  flex-basis: 40%;
}
.service-display-volume {
  width: 100%;
  padding: 5px;
}
.service-display-volume > input[type="range"] {
  width: 100%;
  -webkit-appearance: none;
  outline: 0;
  width: 100%;
  border-radius: 3px;
  height: 7px;
  border: 1px solid var(--sound-background-color-20-lighter);
  background-color: var(--sound-background-color);
}
.service-display-volume input[type="range"]::-webkit-slider-thumb,
.service-display-volume input[type="range"]::-moz-slider-thumb {
  -webkit-appearance: none;
  background-color: #ecf0f1;
  border: 1px solid #bdc3c7;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  cursor: pointer;
}
.service-display-volume input[type="range"]::-moz-range-track {
  border: 1px solid #bdc3c7;
  height: 5px;
  border-radius: 10px;
  border: 1px solid var(--sound-background-color-20-lighter);
  background-color: var(--sound-background-color);
  cursor: pointer;
} */
