.sound-display {
  overflow: hidden;
  margin: 0.25rem 0;
  color: var(--sound-text-color);
}
.sound-display .tags {
  flex-wrap: nowrap;
}
.sound-display {
  flex-basis: 100%;
  background-color: var(--sound-background-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 5px 10px;
  position: relative;
  height: auto;
}
.sound-display .tags .tag:last-child {
  width: 100%;
  justify-content: flex-start;
}
.sound-display-top-bar-actions {
  position: absolute;
  top: 6px;
  right: 2px;
  display: flex;
  flex-direction: row;
}
.sound-display-top-bar-actions > button {
  color: var(--sound-background-color-20-lighter);
}
.sound-display-top-bar-actions > button:hover {
  color: #fff;
}
.sound-display-top-bar-actions > button + button {
  margin: 0 5px;
}
.sound-display-top-bar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 40px;
  padding: 10px;
  font-size: 12px;
  margin-bottom: 25px;
}
.sound-display-top-bar-current {
  position: absolute;
  left: 0;
  right: 0;
  top: 30px;
  color: #000;
  background-color: var(--sound-accent-color);
  padding: 5px;
  margin-left: -20px;
  margin-right: -20px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.sound-display-top-bar-connection-name {
  position: absolute;
  top: 5px;
  left: 5px;
  color: #aaa;
}
.sound-display-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--text-color-bright);
  text-align: center;
}
.sound-display-title-url {
  font-size: 14px;
  justify-content: flex-start;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--text-color-normal);
  text-align: center;
}
.sound-display-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100px;
}
.sound-display-waveform {
  height: 40px;
}
.sound-control-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}
.sound-control-button-item {
  display: flex;
  padding: 10px;
  color: var(--sound-accent-color);
  outline: 0;
}
.sound-control-button-item:active,
.sound-control-button-item:focus {
  outline: 0;
}
.diagnostic-debug-toggle {
  margin: 0;
  text-align: center;
  font-size: 13px;
  margin-top: 10px;
  color: var(--sound-accent-color);
  padding: 2px 0;
  background-color: var(--sound-background-color);
  text-decoration: none;
  width: 100%;
}
.diagnostic-debug-toggle > span {
  font-size: 11px;
  display: none;
}
.sound-display-control-position {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sound-display-control-position .waveform {
  height: 15px;
}
.sound-display-control-position .progress {
  margin: 5px 0;
  height: auto;
  position: relative;
  background-clip: padding-box;
  overflow: visible;
  background-color: var(--sound-background-color-10-lighter);
}
.sound-display-control-position .progress-track {
  position: relative;
}
.sound-display-control-position .progress-track-played {
  height: 4px;
  display: block;
  background-color: var(--sound-accent-color);
  transition: width ease-in-out 0.25s;
  position: relative;
  z-index: 2;
}
.sound-display-control-position .progress-track-downloaded {
  height: 4px;
  background-color: #40434b;
  transition: width ease-in-out 0.25s;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
}
.sound-display-control-position .progress-track-playhead {
  position: absolute;
  z-index: 10;
  background-color: var(--sound-accent-color-darker-20);
  width: 2px;
  top: 0;
  bottom: 0;
  margin: 0;
  height: 100%;
  transform: scale(1, 1);
  transition: opacity 200ms linear, transform 200ms;
  z-index: 5;
}
.sound-display-control-position .progress-track-playhead:hover {
  background-color: var(--sound-accent-color);
}
.sound-display-control-position:hover .progress-track-playhead {
  transform: scale(3, 2);
  cursor: grab;
}
.sound-display-control-position:hover .progress-track-playhead:active {
  cursor: grabbing;
}
.sound-display-control-position .progress.is-indeterminate {
  overflow: hidden;
}
.sound-display-control-position
  .progress.is-indeterminate
  .progress-track-downloaded {
  display: none;
}
.sound-display-control-position .progress.is-indeterminate .progress-track {
  background-color: transparent;
  pointer-events: none;
}
.sound-display-control-position
  .progress.is-indeterminate
  .progress-track-playhead {
  display: none;
}
.sound-display-control-position
  .progress.is-indeterminate
  .progress-track-played {
  position: relative;
  width: 100%;
  background: transparent
    linear-gradient(
      var(--sound-accent-color-darker-20),
      var(--sound-accent-color),
      var(--sound-accent-color-darker-20)
    );
}
.sound-display-control-position
  .progress.is-indeterminate.sound-is-playing
  .progress-track {
  background-color: var(--sound-accent-color-darker-20);
  pointer-events: none;
  z-index: 1;
}
.sound-display-control-position
  .progress.is-indeterminate.sound-is-playing
  .progress-track-played:before {
  content: '';
  z-index: 5;
  position: absolute;
  background: linear-gradient(
    90deg,
    var(--sound-accent-color-darker-20),
    var(--sound-accent-color),
    var(--sound-accent-color-darker-20)
  );
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}
.sound-display-control-position
  .progress.is-indeterminate.sound-is-playing
  .progress-track-played:after {
  content: '';
  z-index: 5;
  position: absolute;
  background: linear-gradient(
    90deg,
    var(--sound-accent-color-darker-20),
    var(--sound-accent-color),
    var(--sound-accent-color-darker-20)
  );
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1)
    infinite;
  animation-delay: 1.15s;
}
.sound-display-control-position-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 13px;
}

.diagnostic-debug {
  background-color: var(--sound-background-color);
  padding: 5px 10px;
  margin: 0 -10px;
}
.diagnostic-debug h3 {
  text-transform: uppercase;
  padding: 5px;
  font-size: 11px;
}
.diagnostic-debug h3 {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;
}
.diagnostic-debug h3:first-child {
  margin-top: 0;
}
.diagnostic-debug-events {
  display: block;
}
.diagnostic-debug-strategy {
  font-size: 12px;
  padding: 0 5px;
  margin: 0;
  list-style-type: none;
}
.diagnostic-debug-strategy .is-success {
  color: var(--success);
}
.diagnostic-debug-strategy .is-failure {
  color: var(--danger);
}
.diagnostic-debug-strategy .not-attempted svg {
  color: #eee;
}
.diagnostic-debug-strategy .is-ineligible {
  color: var(--disabled);
}
.sound-info {
  background-color: var(--sound-background-color-10-lighter);
  display: inline-block;
  font-size: 11px;
  margin: 2px;
  padding: 3px;
}
.sound-tag {
  background-color: var(--sound-background-color-10-lighter);
  display: inline-block;
  font-size: 11px;
  white-space: nowrap;
  margin: 2px;
  padding: 3px;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
}
.sound-tag:hover {
  background-color: var(--sound-background-color-30-lighter);
}
.sound-tag .sound-tag-title {
  border-right: 1px solid #333;
  color: var(--sound-accent-color);
  display: inline-block;
  text-align: center;
  padding: 0 5px;
}
.sound-tag .sound-tag-name {
  padding: 0 3px;
}
.inspect-sound {
  cursor: pointer;
  font-size: 11px;
  border-radius: 5px;
  padding: 1px 3px;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: underline;
}
.diagnostic-debug-list {
  display: grid;
  grid-template: auto / 10em 1fr;
  font-size: 11px;
}
.diagnostic-debug-list dt {
  grid-column: 1;
  font-weight: bold;
}
.diagnostic-debug-list dd {
  grid-column: 2;
}
.diagnostic-debug-list dt,
.diagnostic-debug-list dd {
  margin: 0;
  padding: 0.3em 0.5em;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.icon-spin {
  animation: spin 1s infinite 0s;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}
@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}
