.ui-button {
  @apply inline-flex items-center px-3 py-1 font-medium text-white border border-transparent rounded-md shadow-sm bg-primary hover:bg-primary-darker focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary;
}

/* .ui-button.with-icon {
  @apply gap-1;
} */

.stereo-player {
  @apply container flex content-center gap-4 p-2 mx-auto border rounded place-items-center;
}

.stereo-player-position {
  @apply flex items-center flex-grow w-full gap-2 whitespace-nowrap;
}

.stereo-player-controls {
  @apply grid grid-cols-3 gap-2 place-items-center min-w-max;
}

.stereo-player-volume {
  @apply flex items-stretch content-center gap-2;
}

.stereo-button {
  @apply inline-flex items-center px-1 py-1 text-base font-medium text-gray-500 border border-transparent rounded-md shadow-none focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary;
}

.stereo-button:disabled,
.ui-button:disabled {
  @apply pointer-events-none opacity-30;
}

.icon-spin {
  animation: spin 1s infinite 0s;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
