{{! template-lint-disable no-inline-styles }}

<DocsDemo as |demo|>
  <demo.example @name='attention-getter.hbs'>
    {{#let '/sounds/attention.mp3' as |url|}}
      <button
        type='button'
        {{on 'click' (toggle-play-sound url)}}
        class='flex items-center gap-1'
      >
        {{#if (sound-is-playing url)}}
          {{svg-jar 'pause-outline' height=16 width=16}}
        {{else}}
          {{svg-jar 'play-outline' width=16 height=16}}
        {{/if}}
        Really, it's easy
      </button>
    {{/let}}
  </demo.example>
  <demo.snippet @name='attention-getter.hbs' />
</DocsDemo>