<DocsDemo as |demo|>
  <demo.example @name='autoplay-gotchas.hbs'>
    <p>You can silence the thrown errors and handle them inline</p>
    <div>
      {{!-- {{#let "https://streaming.koop.org/stream.aac" as |url|}} --}}
      <button
        {{on 'click' this.togglePlaySound}}
        type='button'
        class='ui-button'
      >
        {{#if (sound-is-blocked this.url)}}
          Autoplay Blocked!
        {{else if (sound-is-playing this.url)}}
          Pause
        {{else}}
          Play Sound
        {{/if}}
      </button>
      {{!-- {{/let}} --}}
    </div>

    {{#if this.error}}
      <div class='text-danger text-sm px-1 py-2'>{{this.error}}</div>
    {{/if}}
  </demo.example>

  <demo.snippet @name='autoplay-gotchas.js'></demo.snippet>
  <demo.snippet @name='autoplay-gotchas.hbs'></demo.snippet>
</DocsDemo>