<DocsDemo as |demo|>
  <demo.example @name='proxy-example.hbs'>
    <button type='button' {{on 'click' (toggle-play-sound this.url)}}>
      Play/Sound
    </button>

    {{#if this.sound.isLoaded}}
      <p>the sound is loaded</p>
    {{/if}}

  </demo.example>
  <demo.snippet @name='proxy-example.hbs'></demo.snippet>
  <demo.snippet @name='proxy-example.js'></demo.snippet>
</DocsDemo>