<DocsDemo as |demo|>
  <demo.example @name='service-errors-try-then.hbs'>
    <p>Using a try/then/catch on the promise</p>
    <div>
      <button
        {{on 'click' (fn this.togglePlaySound '/sounds/unplayable-scooby.au')}}
        type='button'
        class='ui-button'
      >
        {{#if this.sound.isPlaying}}
          Pause
        {{else}}
          Play Sound
        {{/if}}
      </button>
    </div>

    {{#if this.error}}
      <div class='px-1 py-2 text-sm text-danger'>{{this.error}}</div>
    {{/if}}
  </demo.example>
  <demo.snippet @name='service-errors-try-then.js' />
  <demo.snippet @name='service-errors-try-then.hbs' />
</DocsDemo>