<DocsDemo as |demo|>
  <demo.example @name='service-errors-try-catch.hbs'>
    <p>Using a try/catch block with async/await</p>
    <div>
      <button
        {{on
          'click'
          (perform this.playSoundTask '/sounds/unplayable-scooby.au')
        }}
        type='button'
        class='ui-button'
      >
        {{#if this.playSoundTask.isRunning}}
          Loading…
        {{else if this.sound.isPlaying}}
          Pause
        {{else}}
          Play Sound
        {{/if}}
      </button>
    </div>

    {{#if this.error}}
      <div class='px-1 py-2 text-sm text-danger'>{{this.error}}</div>
    {{/if}}
  </demo.example>
  <demo.snippet @name='service-errors-try-catch.js' />
  <demo.snippet @name='service-errors-try-catch.hbs' />
</DocsDemo>