<div class="sound-tag">
  <span class="sound-tag-title">{{@title}}</span>

  {{#if @data}}
    <span class="sound-tag-name">{{@data}}</span>
  {{else if (has-block)}}
    <span class="sound-tag-name">{{yield}}</span>
  {{/if}}
</div>