.diagnostic {
  display: flex;
  flex-direction: row;

  @include media("<=phone") {
    flex-direction: column;
  }
}

.diagnostic-display {
   width: 100%;
}

.diagnostic-controls {
  margin-bottom: 20px;
}

.diagnostic-controls-header {
  margin: 10px 0;
}

.diagnostic-controls .button {
  padding: 3px;
  border: 1px solid #CCC;
  color: #333;
  background-color: #FFF;
  text-decoration: none;
  border-radius: 5px;
  font-size: 12px;
  &:not(.sound-is-loading):hover {
    background-color: #EEE;
  }

  &.sound-is-loading {
    opacity: 0.5;
  }
}

.diagnostic-dj .errors {
  color: red;
  font-size: 12px;
}

.diagnostic .stereo-button svg path {
  fill: aqua!important;
  color: aqua!important;
}
