@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './components/_stereo-player.css';
@import './components/_autoplay.css';

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

html {
  --brand-primary: #00bcb8;
}

:root {
  --brand-primary: #00bcb8;
}
.docs-border-r {
  border-right: 0;
}

/* .docs-bg-white,
body > .ember-view {
  background-color: rgba(var(--color-background), 1);
}
.docs-bg-grey-lightest {
  background-color: rgba(var(--color-surface), 1);
}
.docs-text-grey-darker {
  color: rgba(var(--color-on-surface), 1);
} */

input[type='range'] {
  @apply w-full h-2 rounded-lg outline-none appearance-none border-surface-2;
  margin: auto;

  /* --range-color: red; */
}

input[type='range']::-webkit-slider-thumb,
input[type='range']::-moz-slider-thumb,
input[type='range']::slider-thumb {
  @apply w-6 h-5 appearance-none rounded-xl cursor-move-x;
}

input[type='range']::-webkit-range-track,
input[type='range']::-moz-range-track,
input[type='range']::range-track {
  @apply h-2 rounded-lg cursor-pointer border-surface-2;
  /* background-color: var(--range-color); */
}

input[type='range']::-moz-range-progress {
  @apply h-2 rounded-lg cursor-pointer bg-accent-0;
}
input[type='range']::-webkit-range-progress {
  @apply h-2 rounded-lg cursor-pointer bg-accent-0;
}
input[type='range']::range-progress {
  @apply h-2 rounded-lg cursor-pointer bg-accent-0;
}

input[type='range']:disabled {
  opacity: 0.6;
}

pre.htmlbars,
.hljs,
.docs-md__code {
  filter: hue-rotate(-10deg);
}
