@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');
// @import "bulma";
@import "vendor/include-media";
// MEDIA QUERIES
$breakpoints: (
  'phone': 599px,
  'tablet': 900px,
  'desktop': 1200px,
  'big-desktop': 1800px
);


@import "base";
@import "diagnostic";
@import "buttons";
@import "sync";


$body-color: #FFF;
$yellow: yellow;
$danger: rgb(230, 59, 59);
$white-ter: grey;
$success: rgb(51, 212, 91);
$dark: #333;
$disabled: gray;

$container-background-color: #FCFCFC;
$container-border-color: #EEE;
$container-label-color: #EEE;

$sound-background-color: #1b202b;

$sound-accent-color: aqua;
$sound-text-color: $body-color;

$text-color-normal: #AAA;
$text-color-bright: #EEE;

@import "components/sound-container";
@import "components/service-display";
@import "components/connection-display";
@import "components/sound-display";
@import "components/diagnostic-controls";


.demo-sound-display, .stereo-player {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min-content min-content min-content auto;
  grid-gap: 11px;
}

.demo-sound-position {
  display: grid;
  grid-template-columns: min-content auto min-content;
  grid-gap: 10px;
}

.stereo-button {
  white-space: nowrap;
  display: inline-grid;
  grid-gap: 5px;
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;
}
.stereo-button:disabled {
  opacity: 0.3;
  pointer-events: none;
}


html {
  --brand-primary: #1b202b;
}
