@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');
@import "vendor/include-media";
@import "ember-power-select";

// MEDIA QUERIES
$breakpoints: (
  'phone': 599px,
  'tablet': 900px,
  'desktop': 1200px,
  'big-desktop': 1800px
);

@import "base";
@import "diagnostic";
@import "sync";


.ember-basic-dropdown-trigger {
  border-radius: 2px;
  padding: 5px;
  border: 1px solid #EEE;
}

.ember-power-select-option[aria-selected="true"] {
  background-color: var(--brand-primary);
  color: #FFF;
}

html {
  --brand-primary: #02BD9E;
}

$body-color: #FFF;
$yellow: yellow;
$danger: rgb(230, 59, 59);
$white-ter: grey;
$success: rgb(51, 212, 91);
$dark: #333;
$disabled: gray;

$container-background-color: #FCFCFC;
$container-border-color: #EEE;
$container-label-color: #EEE;

$sound-background-color: #1b202b;

$sound-accent-color: #02BD9E;;
$sound-text-color: $body-color;

$text-color-normal: #AAA;
$text-color-bright: #EEE;

@import "components/buttons";
@import "components/stereo-player";
@import "components/autoplay";
@import "components/sound-container";
@import "components/service-display";
@import "components/connection-display";
@import "components/sound-display";
@import "components/diagnostic-controls";

.hljs, .docs-md__code, .docs-bg-brand {
  background-color: #012941;
}

a {
  text-decoration: underline;
}

