<div class='flex justify-between' {{stereo-volume}}>
  {{#each this.numOfNotches as |item time|}}
    <span
      class='w-2 h-2 rounded pointer-events-none
        {{if (lte time this.activeNotches) "bg-accent-0" "bg-surface-0"}}'
    ></span>
  {{/each}}
</div>