
<p>
  Playing sounds is simple
</p>



<p>
  You can play sounds by interacting directly with the service, or by using one of the template helpers
</p>

<Docs::StereoPlayer @url="https://file-examples-com.github.io/uploads/2017/11/file_example_OOG_1MG.ogg"/>

{{docs-snippet name="stereo-player.hbs"}}