<DiagnosticControls @class="diagnostic-controls" @testSounds={{@model.testSounds}} />

<div class="diagnostic">
  <div class="diagnostic-display">
    <div class="sound-container" data-title="Hifi Service">
      <ServiceDisplay />
    </div>

    <div class="sound-container" data-title="Hifi Connections">
      <div class="service-display-connections">
        {{#each @model.connections as |connection|}}
          <ConnectionDisplay @connection={{connection}} />
        {{/each}}
      </div>
    </div>

    <CachedSounds />
  </div>
</div>
