<div class="diagnostic">
  <div class="diagnostic-display">
    <div class="sound-container" data-title="Stereo Service">
      <ServiceDisplay />
    </div>

    <DiagnosticControls @class="diagnostic-controls" @testSounds={{@model.testSounds}} />

    <CachedSounds />
  </div>
</div>
