<h1>The sounds that have the same URLs should all change to playing when one plays</h1>
<div class="sync-grid">
  <div>


    {{#each @model.testSounds as |testSound|}}
      <SoundDisplay @sound={{testSound}}/>
    {{/each}}
  </div>
  <div>
    {{#each @model.testSounds as |testSound|}}
      <SoundDisplay @sound={{testSound}}/>
    {{/each}}
  </div>
</div>


