<div
  class='inline-block mb-1 text-xs break-all border rounded border-surface-0 bg-surface-2'
  ...attributes
>
  <span class='inline-block py-1 pl-2 pr-1'>{{@title}}</span>

  {{#if @data}}
    <span
      class='inline-block py-1 pl-2 pr-2 bg-surface-1 border-on-surface'
    >{{@data}}</span>
  {{else if (has-block)}}
    <span
      class='inline-block py-1 pl-2 pr-2 bg-surface-1 border-on-surface'
    >{{yield}}</span>
  {{/if}}
</div>