<DocsHeader as |header|>
  <header.link @route='diagnostic'>
    Diagnostic
  </header.link>
</DocsHeader>
<DocsViewer as |viewer|>
  <viewer.nav as |nav|>
    <nav.section @label='Overview' />
    <nav.item @label='Intro' @route='docs.index' />
    <nav.item @label="What's In The Box?" @route='docs.overview' />
    <nav.item @label='Upgrading From Hifi' @route='docs.upgrading' />
    <nav.section @label='Usage' />
    <nav.item @label='Playing Sounds' @route='docs.playing-sounds' />
    <nav.item @label='Audio Formats' @route='docs.audio-format' />
    <nav.item @label='Error Handling' @route='docs.error-handling' />
    <nav.item @label='Custom Metadata' @route='docs.metadata' />
    <nav.item @label='Monitoring Events' @route='docs.event-monitoring' />
    <nav.item @label='Dealing with Autoplay' @route='docs.autoplay' />
    <nav.item @label='Volume Control' @route='docs.volume' />
    <nav.item @label='Testing' @route='docs.testing' />
    <nav.item @label='Advanced' @route='docs.advanced' />
  </viewer.nav>

  <viewer.main>
    <div class='docs-container'>
      <div class='docs-section'>
        {{outlet}}
      </div>
    </div>
  </viewer.main>
</DocsViewer>