<h3
  {{! style="transform: translateX(calc(-100% - 1rem)) translateY(calc(100% + 1rem));
writing-mode: vertical-rl;" }}
  class='p-1 my-2 text-xs uppercase rounded text-surface-2 bg-on-surface-3 max-w-min whitespace-nowrap inilne-block w-max-min'
>{{@title}}</h3>